.image1 {
    padding: 5px;
    float: right;
    height: 250px;
}

.image2{
    padding: 5px;
    height: 200px;
    float: left;
    width: 250px;
}

.image3 {
    float: none;
    padding:5px;
    height: 200px;
    width: 250px;
}


.div4 {
    float: left;
    padding: 10px;
    border: 3px solid #73AD21;
  }
  
  .div5 {
    padding: 10px;
    border: 3px solid red;
    height: 50px;
  }
  
  .div6 {
    float: left;
    padding: 10px;  
    border: 3px solid #73AD21;
  }
  
  .div7 {
    padding: 10px;
    border: 3px solid red;
    clear: left;
}

.div8 {
    border: 3px solid #4CAF50;
    padding: 5px;
  }
  
  .container2 div{
    border: 3px solid #4CAF50;
    padding: 5px;
  }
  .image4 {
    float: right;
  }
  
  .image5 {
    float: right;
  }
  
  .clearfix {
    overflow: auto;
  }

  .container3 div {
    border: 3px solid #4CAF50;
    padding: 5px;
  }
  
  .image6 {
    float: right;
    width: 250px;
  }
  
  .image7 {
    float: right;
    width: 250px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  