.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: magenta;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: brown;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-container3 {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: yellow;
    padding: 10px;
  }
  
  .grid-item2 {
    background-color: lightcoral;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-container4 {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: red;
    padding: 10px;
  }
  
  .grid-item3 {
    background-color: silver;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-container5 {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: aqua;
    padding: 10px;
  }
  
  .grid-item4 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-container6 {
    display: grid;
    row-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: blueviolet;
    padding: 10px;
  }
  
  .grid-item5 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-container7 {
    display: grid;
    gap: 50px 100px;
    grid-template-columns: auto auto auto;
    background-color: chartreuse;
    padding: 10px;
  }
  
  .grid-item6 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-container8 {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto;
    background-color:crimson;
    padding: 10px;
  }
  
  .grid-item7 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-container9 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: darkcyan;
    padding: 10px;
  }
  
  .grid-container9 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .item6 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .grid-container10 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: forestgreen;
    padding: 10px;
  }
  
  .grid-container10 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item14 {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .grid-container11 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: goldenrod;
    padding: 10px;
  }
  
  .grid-container11 > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
  }
  .grid-container12 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color:hotpink;
    padding: 10px;
  }
  
  .grid-container12 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .grid-container13 {
    display: grid;
    grid-template-columns: 80px 200px auto 30px;
    gap: 10px;
    background-color: indigo;
    padding: 10px;
  }
  
  .grid-container13 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .grid-container14 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 200px;
    gap: 10px;
    background-color: khaki;
    padding: 10px;
  }
  
  .grid-container14 > div {
    background-color: grey;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .grid-container15 {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 50px 50px 50px; /*Make the grid smaller than the container*/
    gap: 10px;
    background-color: lawngreen;
    padding: 10px;
  }
  
  .grid-container15 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .grid-container16 {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 50px 50px 50px; /*Make the grid smaller than the container*/
    gap: 10px;
    background-color: mediumseagreen;
    padding: 10px;
  }
  
  .grid-container16 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .grid-container17 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 50px 50px 50px; /*Make the grid smaller than the container*/
    gap: 10px;
    background-color: mediumslateblue;
    padding: 10px;
  }
  
  .grid-container17 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .grid-container18 {
    display: grid;
    justify-content: center;
    grid-template-columns: 50px 50px 50px; /*Make the grid smaller than the container*/
    gap: 10px;
    background-color: mediumaquamarine;
    padding: 10px;
  }
  
  .grid-container18 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .grid-container19 {
    display: grid;
    justify-content: start;
    grid-template-columns: 50px 50px 50px; /*Make the grid smaller than the container*/
    gap: 10px;
    background-color: olive;
    padding: 10px;
  }
  
  .grid-container19 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .grid-container20 {
    display: grid;
    justify-content: end;
    grid-template-columns: 50px 50px 50px; /*Make the grid smaller than the container*/
    gap: 10px;
    background-color: orangered;
    padding: 10px;
  }
  
  .grid-container20 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .grid-container21 {
    display: grid;
    height: 400px;
    align-content: center;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: orchid;
    padding: 10px;
  }
  
  .grid-container21 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .grid-container22 {
    display: grid;
    height: 400px;
    align-content: space-evenly;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: orange;
    padding: 10px;
  }
  
  .grid-container22 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .grid-container23 {
    display: grid;
    height: 400px;
    align-content: space-around;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: olivedrab;
    padding: 10px;
  }
  
  .grid-container23 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .grid-container24 {
    display: grid;
    height: 400px;
    align-content: space-between;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color:palegreen;
    padding: 10px;
  }
  
  .grid-container24 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .grid-container25 {
    display: grid;
    height: 400px;
    align-content: start;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color:peru;
    padding: 10px;
  }
  
  .grid-container25 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .grid-container26 {
    display: grid;
    height: 400px;
    align-content: end;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: salmon;
    padding: 10px;
  }
  
  .grid-container26 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .grid-container27 {
    display: grid;
    gap: 10px;
    background-color: sandybrown;
    padding: 10px;
  }
  
  .grid-item8 {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }
  
  .item22 {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  
  .item23 {
    grid-column: 3;
    grid-row: 1 / span 2;
  }
  
  .item24 {
    grid-column: 1 / span 3;
    grid-row: 3;
  }
  .grid-container28 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: slategrey;
    padding: 10px;
  }
  
  .grid-container28 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item25 {
    grid-column: 1 / 5;
  }
  .grid-container29 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: teal;
    padding: 10px;
  }
  
  .grid-container29 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item40 {
    grid-column: 1 / span 3;
  }
  .grid-container30 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: thistle;
    padding: 10px;
  }
  
  .grid-container30 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item57 {
    grid-column: 2 / span 3;
  }
  .grid-container31 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: tomato;
    padding: 10px;
  }
  
  .grid-container31 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item72 {
    grid-row: 1 / 4;
  }
  .grid-container32 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: violet;
    padding: 10px;
  }
  
  .grid-container32 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item88 {
    grid-row: 1 / span 2;
  }
  .grid-container33 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: yellowgreen;
    padding: 10px;
  }
  
  .grid-container33 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .Box1 {
    grid-area: 1 / 2 / 5 / 6;
  }
  .grid-container34 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: blue;
    padding: 10px;
  }
  
  .grid-container34 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .Box23 {
    grid-area: 2 / 1 / span 2 / span 3;
  }
  .Box31 {
    grid-area: myArea;
  }
  
  .grid-container35 {
    display: grid;
    grid-template-areas: 'myArea myArea myArea myArea myArea';
    gap: 10px;
    background-color: rebeccapurple;
    padding: 10px;
  }
  
  .grid-container35 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .Box37 {
    grid-area: myArea;
  }
  
  .grid-container36 {
    display: grid;
    grid-template-areas: 'myArea myArea . . .';
    gap: 10px;
    background-color: cornflowerblue;
    padding: 10px;
  }
  
  .grid-container36 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  .Box46 {
    grid-area: myArea;
  }
  
  .grid-container37 {
    display: grid;
    grid-template-areas: 'myArea myArea . . .' 'myArea myArea . . .';
    gap: 10px;
    background-color:darkcyan;
    padding: 10px;
  }
  
  .grid-container37 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

.Table1 { grid-area: header; }
.Table2 { grid-area: menu; }
.Table3 { grid-area: main; }
.Table4 { grid-area: right; }
.Table5 { grid-area: footer; }

.grid-container38 {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: darkorange;
  padding: 10px;
}

.grid-container38 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-container39 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: darkgoldenrod;
    padding: 10px;
  }
  
  .grid-container39 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .Table6 { grid-area: 1 / 3 / 2 / 4; }
  .Table7 { grid-area: 2 / 3 / 3 / 4; }
  .Table8 { grid-area: 1 / 1 / 2 / 2; }
  .Table9 { grid-area: 1 / 2 / 2 / 3; }
  .Table10 { grid-area: 2 / 1 / 3 / 2; }
  .Table11 { grid-area: 2 / 2 / 3 / 3; }

  .grid-container40 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: chocolate;
    padding: 10px;
  }
  
  .grid-container40 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  @media only screen and (max-width: 500px) {
    .Table12 { grid-area: 1 / span 3 / 2 / 4; }
    .Table13 { grid-area: 3 / 3 / 4 / 4; }
    .Table14 { grid-area: 2 / 1 / 3 / 2; }
    .Table15 { grid-area: 2 / 2 / span 2 / 3; }
    .Table16 { grid-area: 3 / 1 / 4 / 2; }
    .Table17 { grid-area: 2 / 3 / 3 / 4; }
  }